#!/usr/bin/env bash
export NIM_REPO="https://github.com/status-im/Nim"
export NIMBLE_REPO="https://github.com/nim-lang/nimble"

if [[ -z "${NIM_COMMIT}" ]]; then
  export NIM_COMMIT="727c6378d2464090564dbcd9bc8b9ac648467e38" # v1.6.0
fi

if [[ -z "${NIMBLE_COMMIT}" ]]; then
  export NIMBLE_COMMIT="26c9102c84c6b278985cedce79d6b8982361cb81" # latest (2021-12-16)
fi

source ./scripts/rebuild-nim

export PATH="$(pwd)/${NIM_DIR}/bin:$(pwd)/scripts:${PATH}"

