#!/usr/bin/env bash

source ./scripts/rebuild-nim
source ./scripts/rebuild-nimble

export PATH="$(pwd)/bin:$(realpath ~/.cache/nim-workspace/bin/):$HOME/.nimble/bin:$(pwd)/${NIM_DIR}/bin:$(pwd)/scripts:${PATH}"

source ./scripts/rebuild-languageserver
