#!/usr/bin/env bash

export IN_STATUS_NIM_WORKSPACE=1

export NIM_REPO="https://github.com/status-im/Nim"
export NIMBLE_REPO="https://github.com/nim-lang/nimble"
export NIMBLE_COMMIT=1df4a0dad3d24ef7aa424ebce0fe7d476e1069ee

if [[ -z "${NIM_COMMIT}" ]]; then
  export NIM_COMMIT="d38177b11f628d9675809bfa85356c3ee3a26fea" # latest v1.6.x (2021-04-14)
fi

if [[ -z "${NIMBLE_COMMIT}" ]]; then
  export NIMBLE_COMMIT="d68b2cb6efe8ce298cb5021fe84d3814d755322f" # latest (2021-04-14)
fi

source ./scripts/rebuild-nimble
source ./scripts/rebuild-nim

export PATH="$(pwd)/bin:$(pwd)/${NIM_DIR}/bin:$(pwd)/scripts:${PATH}"
